.title-beg{
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.lesson-plan-top{
  border-bottom: 1px dotted #DAC6DB;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;

}

.card__content a{
  text-decoration: none;
  color: rgba(255,255,255,0.6);
      &:hover{
        color:rgba(255,255,255,0.9);
      }
}

.fa-trash-alt{
  font-size: 20px;
}

.modal-footer{
  font-size: 20px;
  text-align: center;
}
