.title-center{
  position: relative;
  text-align: center;
}

.duration-right-corner{
  position:absolute;
  top: 100px;
  right: 125px;
}

.lesson-plan-top{
  border-bottom: 1px dotted #DAC6DB;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;

}
