.layout-yoga-show{
  display:flex;
  width: 1200px;
  margin: 0 auto;
  margin-top:100px;
  padding-bottom: 100px;
}

.yoga-position-info{
  margin-left:20px;
}

.img-rounded{
  border-radius: 30px;
}

