<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "See all lesson plans", lesson_plans_path, class: "btn btn-flat" %>
<%= link_to "See all yoga positions", yoga_positions_path, class: "btn btn-flat" %>

