.all-cards{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap: 20px;
  margin-bottom:20px;
}

.all-lesson-plans{
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
}

.all-cards a{
  text-decoration: none;
  color: black;
}

.cards-with-image{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap:20px;
}

.card:hover{
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}
