.navbar-lewagon {
  justify-content: space-between;
  background: #dac6db;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fa-om{
  font-size: 40px;
}
